@import "./common.css";

/* ------------
 * module
--------------- */

.module ul,
.module li {
    margin: 0;
    padding: 0;
}

.module a:hover {
    color: #fc0;
}

.first-module {
    position: relative;
    width: 1190px;
    margin: 0 auto;
}

.category {
    position: absolute;
    top: 1px;
    left: 0;
    /* border: 1px solid #e6e6e6; */
    background-color: rgba(0, 0, 0, 0.41);
    width: 180px;
    font-size: 12px;
    margin-top: -1px;
    z-index: 10;
}

.list-item {
    position: relative;
    z-index: 192;
    padding: 0 10px;
}

.main-cate {
    /* border-bottom: 1px solid #f2f2f2; */
    overflow: hidden;
    padding: 10px 0;
    line-height: 24px;
    margin-top: -1px;
    /* color: #fff; */
}

.main-cate b {
    display: inline-block;
    vertical-align: top;
    width: 23px;
    height: 19px;
    /* margin-right: 10px; */
    margin-left: 20px;
}

.main-cate.digit b {
    background: url("../img/icon_1.png") no-repeat;

    background-size: 19px 19px;
}

.main-cate.daily b {
    background: url("../img/icon_2.png") no-repeat;
    background-size: 19px 19px;

}

.main-cate.movie b {
    background: url("../img/icon_3.png") no-repeat;

    background-size: 19px 19px;
}

.main-cate.shoes b {
    background: url("../img/icon_4.png") no-repeat;

    background-size: 19px 19px;
}

.main-cate.watch b {
    background: url("../img/icon_5.png") no-repeat;

    background-size: 19px 19px;
}

.main-cate.book b {
    background: url("../img/icon_6.png") no-repeat;

    background-size: 19px 19px;
}

.main-cate a {
    color: #fff;
    font-size: 14px;
    /* text-indent: 2em; */
    padding-left: 20px;
}

/*.main-cate a:hover {*/
    /*color: #9dc91c;*/
/*}*/

.main-link {
    margin-left: 8px;
}

.main-link a {
    color: #979797;
    font: 12px/1.5 arial;
    white-space: nowrap;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.47)
}

.list-item-hover .extra-cate {
    display: block;
    position: absolute;
    z-index: 194;
    left: 238px;
    top: 0;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .19);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .19);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=112, Color='#dfdfdf')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=112, Color='#dfdfdf')
}

.index-slider {
    width: 1190px;
    height: 410px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.carousel-control.right {
    background-image: none;
}
.slider {
    height: 410px
}

.carousel-inner {
    height: 410px;
}

.module {
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.module a {
    color: #333;
    font-size: 12px;
}

.head-title {
    padding: 8px 0;
    zoom: 1;
}

.head-title h2 {
    font-size: 22px;
    font-family: 'Microsoft Yahei';
    line-height: 22px;
    padding-left: 10px;
    font-weight: 400;
    border-left: 3px solid #ffda44;
}

.inner-content {
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.second-module .inner-content, .third-module .inner-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.goods-tags {
    word-break: keep-all;
    width: 220px;
    height: 188px;
    margin: 15px 0;
    overflow: hidden;
}

.second-module .goods-tags {
    padding-left: 35px;
    border-left: 1px solid #e6e6e6;
}

.third-module .goods-tags {
    padding-left: 20px;
}

.goods-tags a {
    margin: 0 15px 0 0;
    line-height: 28px;
    word-wrap: break-word;
    white-space: nowrap;
}

.goods-list {
    width: 1190px;
    margin: 0 auto;
}


.goods-list .item-list li {
    float: left;
    margin-top: 28px;
    margin-right: 16px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    color: #6c6c6c;
    width: 222px;
    height: 302px;
    overflow: hidden;
    position: relative;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}
.goods-list .item-list li:hover {
    border-color: #F40;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}
.goods-list .item-list li:first-child {
    /*margin-left:4px;*/
}
.goods-list .item-list li:last-child {
    margin-right:0px;
}

.item-pic a {
    height: 142px;
    width: 142px;
}

.item-pic img {
    width: 100%;
    min-height: 220px;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    height: 150px;
}
.item-pic img:hover {
    opacity: .8;
}

.item-pic.sh-pic {
    margin-bottom: 8px;
}
.item-list .title {
    padding: 3px 12px;
    margin-bottom: 0;
    line-height: 18px;
    color: #6c6c6c;
    transition: color .3s;
    height: 36px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}
.item-list .title  a{
    color: #6c6c6c;
    font-size: 12px;
}
.item-list .title  a:hover {
    text-decoration: none;
}
.price-block {
    font-family: Verdana;
    color: #f40;
    font-size: 18px;
    padding: 0 13px;
}

.price-block .price em {
    font-weight: 700;
    font-size: 16px;
    color: #f40;
    font-style: normal;
}

.item-list .price {
    line-height: 14px;
    margin-top: 5px;
    padding-right: 5px;
}

.third-module .goods-tags {
    border-right: 1px solid #e6e6e6;
}